* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/bg_game.png") no-repeat;
    background-color: #432b85;
    background-size: cover;
    background-position: center;
    color: white;
   
    
}
.content {
    position: relative;
    color: white;
    text-align: center;
    height: 00vh;
}
.container {
    height: 100vh;
 
}

.life {
    width: 80px;
    height: 70px;
}
.life_over {
    width: 80px;
    height: 60px;
}
.container-index {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100vh;
    
    /*background-image: url(../img/chao.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position:bottom; */
}

.box {
    position: relative;
    justify-content: center ;
    align-items: end;
}
  .box img {
    max-width: 100%;
    height: auto;
}
.container-index button {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
 }
.ghosts {
    width: 90px;
    height: 75px;
}